body {
	margin:0;
	font-family: helvetica, sans-serif;
	
}

#wrapper {
	margin: 0 auto;
	width: 900px;
}

h2 {
	color: orange;
	
}

.logo {

	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;

}

#henry {

	height: 600px;

}

