body {
	margin:0;
	font-family: helvetica, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 900px;
}

#sidebar {
	float:left;
}

#cont-form {
	margin:0px 0px 0px 0px;
	padding:20px;
	width:300px;
	border: 1px solid grey;
	border-radius: 5px;
}

.cont-submit {
	margin: 10px auto;
 	right: 15px;
 	height: 25px;
	width: 70px; 
	background: #fefefe;
  	border-radius: 10px;
 	cursor: pointer;
}

.subscribe {
	margin:15px 0px 15px 0px;
	padding:20px;
	width:300px;
	border: 1px solid grey;
	border-radius: 5px;

}

/*.sub-pitch {
  	padding-left: 120px;
}*/

.subscribe-form {
	position: relative;
	margin: 20px -20px -20px;
	padding: 10px;
	background: #fafafa;
	border-top: 1px solid #ccc;
	border-radius: 0 0 6px 6px;
}

.subscribe-input {
  padding: 0 16px;
  width: 89%;
  height: 35px;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #444;
  background: #fefefe;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #999 #aaa #aaa;
  border-radius: 20px;
}

.subscribe-submit {
/*  display: block;
  position: absolute;*/
  margin: 10px auto;
  right: 15px;
  height: 25px;
  width: 70px; 
  background: #fefefe;
  border-radius: 10px;
  cursor: pointer;
}

#cont-form input {
	display: block;
	margin: 10px;
}

#cont-text1 {
	background-color: #d8d5db;
	color: #878787;
	padding: 25px;
	font-size: 30px;
	margin:0;
	text-align: center;
}

#cont-text2 {
	background-color: rgba(216, 213, 219, .65);
	color: #878787;
	padding: 10px;
	font-size: 25px;
	margin: 0 0 10px 0;
	text-align: center;
}

#cont-text3 {
	margin-left:10px;
}

#questions {
	margin-left: 10px;
}

#contact-info {
	margin: 0px 0px 0px 10px;
	padding:20px;
	text-align: right;
	float:right;
	width: 400px;
/*	border: 1px solid grey;
	border-radius: 10px;
	min-height: 270px;*/
}

.contact-list a {
	text-decoration: none;
	color:black;
}

#clear {
	clear:both;
}

footer {
	height: 200px
}

#copyright {
	margin-top: 100px;
}



