body {
    background: #ddd;
    font-family: "Helvetica", "sans-serif";
    margin:0;
}

#wrapper {
    margin: 0 auto;
    width: 1020px;
    background-color: white;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C00;
}

#dropdownMenu, #dropdownMenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    text-align: center;
    border: 0;
}

#dropdownMenu a {
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 0;
}

#dropdownMenu a:hover {
    background-color: #fff;
    border: 0;
}

#dropdownMenu li {
    float: left;
    width: 204px;
    background-color: #eee;
    border: 0;
}

#dropdownMenu li ul {
    width: 200px;
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}
#dropdownMenu li > ul{
    display:none;
}
#dropdownMenu > li:hover > ul{
    display:block;
}

#dropdownMenu li ul li {
    width: 200px;
    border: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: #999999;
}

#dropdownMenu li ul ul {
    position: absolute;
    margin-top: -30px;
    margin-left: 200px;
    background: #eee;
    width: 200px;
}
