<!DOCTYPE html>
<html>
<head>
    <title>Home
    </title>
    <link href="index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <div id="banner"><img src=
        "http://www.karenbrownny.com/wp-content/uploads/2013/07/aspca_logo.jpg"
        style="width: 1000px">
        </div>


        <ul id="dropdownMenu">
            <li>
                <a href="home">Home</a>
            </li>


            <li>
                <a href="about">About</a>
            </li>


            <li>
                <a href="#">Find A Home</a>

                <ul>
                   <li>
                            <a href="http://www.nycacc.org/">Manhattan</a>
                        </li>


                        <li>
                            <a href="http://www.badassbrooklynanimalrescue.com/">Brooklyn</a>
                        </li>


                        <li>
                            <a href="http://www.bobbiandthestrays.org/">Queens</a>
                        </li>


                        <li>
                            <a href="http://www.nycstopdoginc.com/">Bronx</a>
                        </li>


                        <li>
                            <a href="http://members.petfinder.com/~NY190/">Staten Island</a>
                        </li>
                </ul>
            </li>


            <li>
                <a href="news">News</a>
            </li>


            <li>
                <a href="contact">Contact</a>
            </li>
        </ul>


        <article>
            <p>Now that there is the Tec-9, a crappy spray gun from South
            Miami. This gun is advertised as the most popular gun in American
            crime. Do you believe that shit? It actually says that in the
            little book that comes with it: the most popular gun in American
            crime. Like they're actually proud of that shit.</p>
        </article>


        <footer>
            <div class="social-footer">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/aspca"><img alt=
                        "Facebook" src="fb.png" style=
                        "width:20px;height:20px;border:0;"></a>
                    </li>


                    <li>
                        <a href="https://twitter.com/ASPCA&quot;"><img alt=
                        "Twitter" src="twitter.png" style=
                        "width:20px;height:20px;border:0;"></a>
                    </li>


                    <li>
                        <a href=
                        "https://www.pinterest.com/ASPCA/&quot;"><img alt=
                        "Pinterest" src="Pinterest_Badge_Red.png" style=
                        "width:20px;height:20px;border:0;"></a>
                    </li>
                </ul>


                <div class="aspcalogo"><img src="aspca.jpg" style=
                "width: 250px;">
                </div>
            </div>


            <div id="clear">
            </div>


            <div id="copyright">
                Copyright &copy; 2015
            </div>
        </footer>
    </div>
</body>
</html>