<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>ASPCA News</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="contact.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <ul id="dropdownMenu">
                <li>
                    <a href="home">Home</a>
                </li>


                <li>
                    <a href="about">About</a>
                </li>


                <li>
                    <a href="#">Find A Home</a>

                    <ul>
                    <li>
                            <a href="http://www.nycacc.org/">Manhattan</a>
                        </li>


                        <li>
                            <a href="http://www.badassbrooklynanimalrescue.com/">Brooklyn</a>
                        </li>


                        <li>
                            <a href="http://www.bobbiandthestrays.org/">Queens</a>
                        </li>


                        <li>
                            <a href="http://www.nycstopdoginc.com/">Bronx</a>
                        </li>


                        <li>
                            <a href="http://members.petfinder.com/~NY190/">Staten Island</a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="news">News</a>
                </li>


                <li>
                    <a href="contact">Contact</a>
                </li>
            </ul>
        </div>


        <div id="cont-text">
            <br>


            <p id="cont-text1">News</p>


            <p id="cont-text2">Top Level News Rotating Daily</p>
        </div>
        <article id="newssection">
            <div id="table-news">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://www.aspca.org/blog/announcing-change-your-chicken-challenge">
                                <img src="https://www.aspca.org/sites/default/files/styles/list_thumb_180x120/public/field/image/blog/blog_change-your-chicken_091415_feature.jpg?itok=uypnLCeL"></a>
                            </td>
                            <td class="newstable">
                                <a href="https://www.aspca.org/blog/announcing-change-your-chicken-challenge"><h5>Announcing the Change Your Chicken Challenge</h5></a>
                                We're challenging you to change your chicken by opting for products with humane certifications for just 30 days. Learn why this is important and see how the ASPCA can help you along the way.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://www.aspca.org/blog/aspca-pet-week-chase-and-blaze"><img src="https://www.aspca.org/sites/default/files/styles/list_thumb_180x120/public/field/image/blog/potw_blaze-chase_091715_feature.jpg?itok=jnZEFQ_G"></a>
                            </td>
                            <td class="newstable">
                                <a href="https://www.aspca.org/blog/aspca-pet-week-chase-and-blaze"><h5>ASPCA Pet of the Week: Chase and Blaze</h5></a>
                                Chase and Blaze are two loveable brothers looking for a home where they can live and play together!
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://www.aspca.org/blog/mcdonalds-going-cage-free-plus-opportunity-help-farm-animals-now"><img src="https://www.aspca.org/sites/default/files/styles/list_thumb_180x120/public/field/image/blog/blog_mcdonalds-cage-free_feature.jpg?itok=OS1OpqE1"></a>
                            </td>
                            <td class="newstable">
                                <a href="https://www.aspca.org/blog/mcdonalds-going-cage-free-plus-opportunity-help-farm-animals-now"><h5>ASPCA Pet of the Week: Chase and Blaze</h5></a>
                                Big things are happening in the world of farm animal welfare as McDonald's makes an important promise and the ASPCA gears up for a year-long ballot campaign in Massachusetts.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>

        <div id="clear"></div>


        <footer>
            <div class="social-footer">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/aspca"><img alt=
                        "Facebook" src="fb.png" style=
                        "width:20px;height:20px;border:0;"></a>
                    </li>


                    <li>
                        <a href="https://twitter.com/ASPCA&quot;"><img alt=
                        "Twitter" src="twitter.png" style=
                        "width:20px;height:20px;border:0;"></a>
                    </li>


                    <li>
                        <a href=
                        "https://www.pinterest.com/ASPCA/&quot;"><img alt=
                        "Pinterest" src="Pinterest_Badge_Red.png" style=
                        "width:20px;height:20px;border:0;"></a>
                    </li>
                </ul>


                <div class="aspcalogo"><img src="aspca.jpg" style=
                "width: 250px;">
                </div>
            </div>


            <div id="clear">
            </div>


            <div id="copyright">
                Copyright &copy; 2015
            </div>
        </footer>
    </div>
</body>
</html>