body {
    background: #ddd;
    font-family: "Helvetica", "sans-serif";
    margin:0;
}

#wrapper {
    margin: 0 auto;
    width: 1020px;
    background-color: white;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C00;
}

#dropdownMenu, #dropdownMenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    text-align: center;
    border: 0;
}

#dropdownMenu a {
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 0;
}

#dropdownMenu a:hover {
    background-color: #fff;
    border: 0;
}

#dropdownMenu li {
    float: left;
    width: 204px;
    background-color: #eee;
    border: 0;
}

#dropdownMenu li ul {
    width: 200px;
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}
#dropdownMenu li > ul{
    display:none;
}
#dropdownMenu > li:hover > ul{
    display:block;
}

#dropdownMenu li ul li {
    width: 200px;
    border: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: #999999;
}

#dropdownMenu li ul ul {
    position: absolute;
    margin-top: -30px;
    margin-left: 200px;
    background: #eee;
    width: 200px;
}

 #clear {
    clear: both;
}

footer {
      background-color: rgba(216, 213, 219, .65);
}
.social-footer {
    /*background-color: rgba(216, 213, 219, .65);*/
    padding:10px;
    margin-top:-10px;
}

.social-footer li {
    list-style-type: none;
    display:inline;
    margin: 0% auto;
}

.aspcalogo {
    float:right;
    margin-top: -44px;
}

#copyright {
    background-color: #878787;
    border: 1px solid grey;
    text-align: center;
    font-size: 10px;
    color:white;
    padding: 5px 0px;
}
